<div class="header">
    <h3>{{$ctrl.title}}</h3>
</div>

<div class="container-search">
    <input 
        id="input-search"
        placeholder="SEARCH YOUR HERO..." 
        ng-model="$ctrl.search"  
        ng-keypress="($event.charCode==13)? $ctrl.doSearch() : return"
    >
    <button id="button-search" type="button" ng-click="$ctrl.doSearch()">Search</button>
</div>

<div class="container-card">
    <card
        ng-repeat="hero in $ctrl.heros" 
        imgurl="{{hero.thumbnail.path}}.{{hero.thumbnail.extension}}"
        name="hero.name" 
        description="hero.description" 
        ng-click="$ctrl.find(hero.id)"
    />
</div>