body{
    background: #fff;
    margin: 0;
    padding: 0;
}

.header{
  margin-top: 0;
  background: #000;
  width: 100%;
  height: 70px;
  color:white;
  position:absolute;
  top:0;
  text-align: center;
}

.container-card{
    margin: 40px 30px 30px 30px;
    display: flex;
    flex-wrap: wrap;
    -ms-flex-item-align: start;
    justify-content: center;
}

.card{
    margin-top: 10px;
    background: #000;
    width: 250px;
    min-height: 350px;
    border-radius: 5px;
    box-shadow: 0 0 1em rgb(255, 8, 0);
    margin: 5px;
}

.card:hover{
    box-shadow: 0 0 1em rgb(75, 153, 255);
}


.card-img{
   border-radius: 5px 5px 0px 0px;
   position: relative;
   width: 100%;
   height: 150px;
}

.card-title{
    margin-top: 5px;
    color:white;
    font-size: large;
    text-align: center;
    text-decoration: underline;
}

.card-description{
    color:white; 
    padding: 6px;
    overflow: hidden;
    display: inline-block;
    text-overflow: ellipsis;
    word-wrap: break-word;
    max-height: 3.6em;
    line-height: 1.8em;
}

.container-search{
    display: flex;
    margin-top: 80px;
    justify-content: center;
}

#input-search{
    display: flex;
    border-radius: 5px 0 0 5px;
    width: 300px;
    height: 35px;
    border: solid 1px #cccc;
    outline: none;
}

#button-search{
    display: flex;
    width: 80px;
    height: 40px;
    align-items: center; 
    justify-content: center;
    background: #000;
    color:#fff;
    border:none;
    border-radius: 0 5px 5px 0;
}

::-webkit-input-placeholder {
    text-align: center;
 }
 
 :-moz-placeholder { /* Firefox 18- */
    text-align: center;  
 }
 
 ::-moz-placeholder {  /* Firefox 19+ */
    text-align: center;  
 }
 
 :-ms-input-placeholder {  
    text-align: center; 
 }

.container-hero{
    margin-top: 150px;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    flex-direction: row;
}

.container-hero img{
    width: 300px;
    height: 300px;
    border-radius: 5px;
    box-shadow: 0 0 1em rgb(80, 80, 80);
}

.container-hero-description{
   width: 50%;
}


.container-hero-comics{
    margin: 10px 150px 150px 150px;
    flex-direction: column;
    justify-content: center;
}

.container-hero-comics h1{
    text-align: center;
}

.container-hero-comics ul{
    margin: 0;
    padding: 0;
    text-align: center;
    list-style-type: none;
    overflow-y: scroll;
    max-height: 300px;
}

.container-hero-comics  li{
    padding: 10px;
    font-size: large;
    box-shadow: 0 0 5px rgb(255, 23, 23);
    margin: 10px;
    background: #000;
    color: #ffff;
}





#button-return{
    position: absolute;
    top:90px;
    right:50px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border:none;
    background: #000;
    color: #fff;
    box-shadow: 0 0 1em rgb(255, 23, 23);
}


@media screen and (max-width: 600px) {
    .card{
        width: 300px;
        min-height: 350px;
       
    }

    .container-hero-comics{
        margin: 10px;
    }
}